.outer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.vertical {
  flex-direction: column;
  align-items: start;
  justify-content: stretch;
}

.container {
  position: relative;
  width: 6rem;
  color: black;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  padding: 0.4rem 0.2rem 0.4rem 0.8rem;
  font-size: 1.4rem;
  width: 100%;
}

.select svg {
  transition: 250ms;
  stroke: #868e96;
  width: 18px;
}

.select--open svg {
  transform: rotateX(180deg);
}

.select--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.options {
  position: absolute;
  top: 99%;
  background-color: #dee2e6;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
  width: 100%;
}

.option {
  padding: 0.4rem 0.8rem;
}

.option:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

.label {
  color: white;
}
