.range {
  border-radius: 1rem;
  overflow: hidden;
}

.range::-moz-range-thumb {
  height: 100%;
}

.range::-moz-range-progress {
  background-color: var(--red-2);
  height: 100%;
}

.range::-moz-range-track {
  border-radius: 1rem;
}
