.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 2.4rem 0;
  gap: 1.2rem;
}

.container--red {
  color: var(--red-0);
  background-color: var(--red-4);
  box-shadow: 0 0 20px 5px var(--red-shadow);
}

.container--blue {
  color: var(--blue-0);
  background-color: var(--blue-4);
  box-shadow: 0 0px 20px 5px var(--blue-shadow);
}

.time {
  font-size: 4.8rem;
}

.bar {
  height: 24px;
  width: 90%;
  border-radius: 1rem;
  padding: 1px;
}

.container--red .bar {
  background-color: var(--red-0);
}

.container--blue .bar {
  background-color: var(--blue-0);
}

.fill {
  height: 100%;
  border-radius: 1rem;
}

.container--red .fill {
  background-color: var(--red-2);
}

.container--blue .fill {
  background-color: var(--blue-2);
}

.controls {
  display: flex;
  gap: 3.2rem;
}
