.button {
  border-radius: 1rem;
  font-weight: 600;
  transition: all 150ms;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--red {
  background-color: var(--red-1);
  color: var(--red-4);
  border: 1px solid var(--red-0);
}

.button--red:hover {
  background-color: var(--red-3);
  color: var(--red-0);
}

.button--blue {
  background-color: var(--blue-1);
  color: var(--blue-4);
  border: 1px solid var(--blue-0);
}

.button--blue:hover {
  background-color: var(--blue-3);
  color: var(--blue-0);
}
