.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.inputs {
  display: flex;
  gap: 1.2rem;
}

.buttons {
  display: flex;
  gap: 0.8rem;
}

.button {
  border: none;
  background-color: inherit;
  color: white;
}

@media (max-width: 500px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .inputs {
    justify-content: space-between;
    flex-direction: column;
  }

  .buttons {
    grid-column: 2;
    justify-self: end;
    flex-direction: column;
  }
}
