.header {
  background-color: var(--red-4);
  display: flex;
  justify-content: center;
  padding: 0.6rem;
  box-shadow: 0 0 10px 7px var(--red-shadow);
}

.logo {
  font-size: 4rem;
  font-weight: 700;
  color: var(--red-0);
}
