.container {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.vertical {
  flex-direction: column;
  align-items: stretch;
}

.input {
  border-radius: 1rem;
  padding: 0.4rem 0.8rem;
  outline: none;
  border: none;
}

.label {
  font-weight: 600;
}
