.item {
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 0.8rem 1.2rem;
  animation: new-item 1000ms;
}

.item--red {
  background-color: var(--red-4);
  color: var(--red-0);
  box-shadow: 0 0 5px 2px var(--red-shadow);
}

.item--blue {
  background-color: var(--blue-4);
  color: var(--blue-0);
  box-shadow: 0 0 5px 2px var(--blue-shadow);
}

.group {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.right {
  display: flex;
  gap: 2.4rem;
}

.button {
  border: none;
  background-color: transparent;
  color: inherit;
  display: flex;
}

@keyframes new-item {
  0% {
    opacity: 0%;
    transform: translateY(-100%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}
