:root {
  --red-0: #fff5f5;
  --red-1: #ffc9c9;
  --red-2: #ff8787;
  --red-3: #fa5252;
  --red-4: #e03131;
  --red-shadow: #e0313142;
  --blue-0: #e7f5ff;
  --blue-1: #a5d8ff;
  --blue-2: #4dabf7;
  --blue-3: #228be6;
  --blue-4: #1971c2;
  --blue-shadow: #1970c256;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Dosis", sans-serif;
}

main {
  padding: 3.6rem;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  max-width: 100rem;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
