:root {
  --main-color: #e03131;
  --main-color-dark: #c92a2a;
  --main-color-light: #f03e3e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

main {
  padding: 3.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
